<?php
/*
This will load one record from your database table.
load(dummy_id) will load whatever ID number you give it.
*/
/*
$indaba = Mage::getModel('indaba/indaba')->load(1);
echo $indaba->getNewsletterlistId();
echo $indaba->getTitle();
echo $indaba->getContent();
echo $indaba->getStatus();
*/

/*
This block of code loads all of the records in the database table.
It will iterate through the collection and the first thing it will do
is set the Title to the current value of $i which is incremented each
iteration and then echo that value back out.  At the very end it will
save the entire collection.
*/
/*
$i = 0;

$collection = Mage::getModel('indaba/indaba')->getCollection();
$collection->setPageSize(5);
$collection->setCurPage(2);
$size = $collection->getSize();
$cnt = count($collection);
foreach ($collection as $item) {
    $i = $i+1;
    $item->setTitle($i);
    echo $item->getTitle();
}

$collection->walk('save');
*/

/*
This shows how to load one value, change something and save it.
*/

/*
$object = Mage::getModel('indaba/indaba')->load(1);
$object->setTitle('This is a changed title');
$object->save();
*/
?>
<?php
$collection = Mage::getModel('indaba/indaba')->getCollection();
$arrayCollection = $collection->toArray();
$arrayCollectionReverse = array_reverse($arrayCollection['items'], true);
//$collection->setPageSize(5);
//$collection->setCurPage(2);
//$size = $collection->getSize();
//$cnt = count($collection);

?>
<div class="custom-wrapper" data-js-module="filtering-demo">
    <div class="container-side-filter col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <span class="filter-by-title">
            Fliter by
        </span>
        <?php
        foreach ($collection as $item) {
            $dateArray[] = date("Y", strtotime($item->getDate()));
        };

        // eliminate year duplications and reverse the array so it puts latest year on top
        $skipDuplicates = array_reverse(array_unique($dateArray), true);
        ?>
        <div class="filter-button-group button-group js-radio-button-group">
            <button class="button is-checked" data-filter=".all" >All</button>
            <?php foreach ($skipDuplicates as $year): ?>
                <button class="button" data-filter="<?php echo $year; ?>"><?php echo $year; ?></button>
            <?php endforeach; ?>
        </div>
    </div>
    <div class="container-fluid grid col-lg-9 col-md-9 col-sm-9 col-xs-12">
        <?php foreach ($arrayCollectionReverse as $item): ?>
            <?php  if($item['status'] == 1):?>
                <?php
                $time = strtotime($item['date']);
                $publishedDate= date("d F Y",$time);
                ?>
                <div class="newsletter-wrapper col-lg-4 col-md-6 col-sm-6 col-xs-12 all element-item <?php echo $year ?>" data-category="2014">
                    <div class="news-image">
                        <img class="feature-image" src="<?php echo Mage::getBaseUrl().'media/'.$item['image']; ?>" />
                    </div>
                    <div class="news-title">
                        <h2><?php echo $item['title'] ?></h2>
                    </div>
                    <span class="news-timedate">
                        <?php echo $publishedDate; ?>
                    </span>
                    <div class="news-content">
                        <p class="content">
                            <?php echo Mage::helper('core/string')->truncate($item['content'], 150); ?>
                        </p>

                    </div>
                    <a class="news-read-more-link btn" href="<?php echo Mage::getBaseUrl().'indaba/post/view/link/'.$item['link']; ?>" target="_blank">Read More</a>
                </div>
            <?php endif; ?>
        <?php endforeach; ?>
    </div>
</div>

<script src="<?php echo Mage::getBaseUrl()?>js/jquery.min.js"></script></script>
<script src="<?php echo Mage::getBaseUrl()?>js/isotope-docs.min.js"></script>

