<?php
$collection = Mage::getModel('indaba/indaba')->getCollection();
$requestParams = $this->getRequest()->getParams();
$postIdentifier = $requestParams['link'];
$time = strtotime($post['date']);
$publishedDate= date("d F Y",$time);
?>

<div class="custom-wrapper" data-js-module="filtering-demo">
    <div class="container-fluid grid col-lg-9 col-md-9 col-sm-9 col-xs-12">
        <?php foreach ($collection as $post): ?>
            <?php if($post->getData('link') == $postIdentifier):?>
                <div class="newsletter-wrapper col-lg-4 col-md-6 col-sm-6 col-xs-12 all element-item">
                    <div class="news-title">
                        <h2><?php echo $post['title'] ?></h2>
                    </div>
                    <span class="news-timedate">
                        <?php echo $publishedDate; ?>
                    </span>
                    <div class="news-content">
                        <p class="content">
                            <?php echo $post['description']; ?>
                        </p>
                    </div>
                    <span class="news-authur">
                        <?php echo "- ". $post['author']; ?>
                     </span>
                </div>
            <?php endif; ?>
        <?php endforeach; ?>
    </div>
</div>
